<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/styles.css" type="text/css">
</head>
<body>
    <main>
        <h1><%= header %></h1>
        <form action="<%= action %>" method="POST">
            <div>
                <p>
                    <label for="personId">Person Id</label>
                    <input type="text" id="personId" name="personId" size="5" 
                    value="<%= personId.value %>" <%= personId.readonly %> >
                </p>
                <p>
                    <label for="firstname">First name</label>
                    <input type="text" id="firstname" name="firstname" size="15"
                    value="<%= firstname.value %>" <%= firstname.readonly %> >
                </p>
                <p>
                    <label for="lastname">Last name</label>
                    <input type="text" id="lastname" name="lastname" size="25"
                    value="<%= lastname.value %>" <%= lastname.readonly %> >
                </p>
                <p>
                    <label for="department">Department</label>
                    <input type="text" id="department" name="department" size="10"
                    value="<%= department.value %>" <%= department.readonly %> >
                </p>
                <p>
                    <label for="salary">Salary</label>
                    <input type="text" id="salary" name="salary" size="10"
                    value="<%= salary.value %>" <%= salary.readonly %> >
                </p>
            </div>
            <button type="submit">Submit</button>
        </form>
        <a href="/"><button>Menu</button></a>
    </main>
</body>
</html>